
body
{
    background-color:#ffffff;
}
#maincontainer
{

    width: 80%;
    height: 780px;
    background-color:#ffffff;
    margin:10px auto;
}
#container1
{
    padding-top: 50px;
    width: 60%;
    height: 0px;
    background-color:#ffffff;
    margin:-180px auto;

}

