
/* Popup Google Fonts */
@@import url('http://fonts.googleapis.com/css?family=Acme|Montserrat');
/* Popup Theme 4315: Framed Border */
.pum-theme-4315, .pum-theme-framed-border {
    background-color: rgba( 255, 255, 255, 0.50 );
}

    .pum-theme-4315 .pum-container, .pum-theme-framed-border .pum-container {
        padding: 18px;
        border-radius: 0px;
        border: 20px outset #dd3333;
        box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.97 ) inset;
        background-color: rgba( 255, 251, 239, 1.00 );
    }

    .pum-theme-4315 .pum-title, .pum-theme-framed-border .pum-title {
        color: #000000;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: inherit;
        font-size: 32px;
        line-height: 36px;
    }

    .pum-theme-4315 .pum-content, .pum-theme-framed-border .pum-content {
        color: #2d2d2d;
        font-family: inherit;
    }

        .pum-theme-4315 .pum-content + .pum-close, .pum-theme-framed-border .pum-content + .pum-close {
            height: 20px;
            width: 20px;
            left: auto;
            right: -20px;
            bottom: auto;
            top: -20px;
            padding: 0px;
            color: #ffffff;
            font-family: Acme;
            font-size: 20px;
            line-height: 20px;
            border: 1px none #ffffff;
            border-radius: 0px;
            box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 );
            text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
            background-color: rgba( 0, 0, 0, 0.55 );
        }

/* Popup Theme 4314: Cutting Edge */
.pum-theme-4314, .pum-theme-cutting-edge {
    background-color: rgba( 0, 0, 0, 0.50 );
}

    .pum-theme-4314 .pum-container, .pum-theme-cutting-edge .pum-container {
        padding: 18px;
        border-radius: 0px;
        border: 1px none #000000;
        box-shadow: 0px 10px 25px 0px rgba( 2, 2, 2, 0.50 );
        background-color: rgba( 30, 115, 190, 1.00 );
    }

    .pum-theme-4314 .pum-title, .pum-theme-cutting-edge .pum-title {
        color: #ffffff;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: Sans-Serif;
        font-size: 26px;
        line-height: 28px;
    }

    .pum-theme-4314 .pum-content, .pum-theme-cutting-edge .pum-content {
        color: #ffffff;
        font-family: inherit;
    }

        .pum-theme-4314 .pum-content + .pum-close, .pum-theme-cutting-edge .pum-content + .pum-close {
            height: 24px;
            width: 24px;
            left: auto;
            right: 0px;
            bottom: auto;
            top: 0px;
            padding: 0px;
            color: #1e73be;
            font-family: inherit;
            font-size: 32px;
            line-height: 24px;
            border: 1px none #ffffff;
            border-radius: 0px;
            box-shadow: -1px 1px 1px 0px rgba( 2, 2, 2, 0.10 );
            text-shadow: -1px 1px 1px rgba( 0, 0, 0, 0.10 );
            background-color: rgba( 238, 238, 34, 1.00 );
        }

/* Popup Theme 4313: Hello Box */
.pum-theme-4313, .pum-theme-hello-box {
    background-color: rgba( 0, 0, 0, 0.75 );
}

    .pum-theme-4313 .pum-container, .pum-theme-hello-box .pum-container {
        padding: 30px;
        border-radius: 80px;
        border: 14px solid #81d742;
        box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.00 );
        background-color: rgba( 255, 255, 255, 1.00 );
    }

    .pum-theme-4313 .pum-title, .pum-theme-hello-box .pum-title {
        color: #2d2d2d;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: Montserrat;
        font-size: 32px;
        line-height: 36px;
    }

    .pum-theme-4313 .pum-content, .pum-theme-hello-box .pum-content {
        color: #2d2d2d;
        font-family: inherit;
    }

        .pum-theme-4313 .pum-content + .pum-close, .pum-theme-hello-box .pum-content + .pum-close {
            height: auto;
            width: auto;
            left: auto;
            right: -30px;
            bottom: auto;
            top: -30px;
            padding: 0px;
            color: #2d2d2d;
            font-family: inherit;
            font-size: 32px;
            line-height: 28px;
            border: 1px none #ffffff;
            border-radius: 28px;
            box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 );
            text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
            background-color: rgba( 255, 255, 255, 1.00 );
        }

/* Popup Theme 4312: Enterprise Blue */
.pum-theme-4312, .pum-theme-enterprise-blue {
    background-color: rgba( 0, 0, 0, 0.00 );
}

    .pum-theme-4312 .pum-container, .pum-theme-enterprise-blue .pum-container {
        padding: 0px;
        border-radius: 5px;
        border: 1px none #000000;
        box-shadow: 0px 10px 25px 4px rgba( 2, 2, 2, 0.50 );
        background-color: rgba( 255, 255, 255, 1.00 );
    }

    .pum-theme-4312 .pum-title, .pum-theme-enterprise-blue .pum-title {
        color: #315b7c;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: inherit;
        font-size: 34px;
        line-height: 36px;
    }

    .pum-theme-4312 .pum-content, .pum-theme-enterprise-blue .pum-content {
        color: #2d2d2d;
        font-family: inherit;
    }

        .pum-theme-4312 .pum-content + .pum-close, .pum-theme-enterprise-blue .pum-content + .pum-close {
            height: 28px;
            width: 28px;
            left: auto;
            right: 8px;
            bottom: auto;
            top: 8px;
            padding: 4px;
            color: #ffffff;
            font-family: inherit;
            font-size: 20px;
            line-height: 20px;
            border: 1px none #ffffff;
            border-radius: 42px;
            box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 );
            text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
            background-color: rgba( 49, 91, 124, 1.00 );
        }

/* Popup Theme 4311: Light Box */
.pum-theme-4311, .pum-theme-lightbox {
    background-color: rgba( 0, 0, 0, 0.60 );
}

    .pum-theme-4311 .pum-container, .pum-theme-lightbox .pum-container {
        padding: 0px;
        border-radius: 3px;
        border: 8px solid #000000;
        box-shadow: 0px 0px 30px 0px rgba( 2, 2, 2, 1.00 );
        background-color: rgba( 255, 255, 255, 0.00 );
    }

    .pum-theme-4311 .pum-title, .pum-theme-lightbox .pum-title {
        color: #000000;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: inherit;
        font-size: 32px;
        line-height: 36px;
    }

    .pum-theme-4311 .pum-content, .pum-theme-lightbox .pum-content {
        color: #000000;
        font-family: inherit;
    }

        .pum-theme-4311 .pum-content + .pum-close, .pum-theme-lightbox .pum-content + .pum-close {
            height: 30px;
            width: 30px;
            left: auto;
            right: -24px;
            bottom: auto;
            top: -24px;
            padding: 0px;
            color: #ffffff;
            font-family: inherit;
            font-size: 24px;
            line-height: 26px;
            border: 2px solid #ffffff;
            border-radius: 30px;
            box-shadow: 0px 0px 15px 1px rgba( 2, 2, 2, 0.75 );
            text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
            background-color: rgba( 0, 0, 0, 1.00 );
        }

/* Popup Theme 4310: Default Theme */
.pum-theme-4310, .pum-theme-default-theme {
    background-color: rgba( 255, 255, 255, 0.50 );
}

    .pum-theme-4310 .pum-container, .pum-theme-default-theme .pum-container {
        padding: 18px;
        border-radius: 0px;
        border: 1px none #000000;
        box-shadow: 1px 1px 3px 0px rgba( 2, 2, 2, 0.23 );
        background-color: rgba( 249, 249, 249, 1.00 );
    }

    .pum-theme-4310 .pum-title, .pum-theme-default-theme .pum-title {
        color: #000000;
        text-align: left;
        text-shadow: 0px 0px 0px rgba( 2, 2, 2, 0.23 );
        font-family: inherit;
        font-size: 32px;
        line-height: 36px;
    }

    .pum-theme-4310 .pum-content, .pum-theme-default-theme .pum-content {
        color: #8c8c8c;
        font-family: inherit;
    }

        .pum-theme-4310 .pum-content + .pum-close, .pum-theme-default-theme .pum-content + .pum-close {
            height: auto;
            width: auto;
            left: auto;
            right: 0px;
            bottom: auto;
            top: 0px;
            padding: 8px;
            color: #ffffff;
            font-family: inherit;
            font-size: 12px;
            line-height: 14px;
            border: 1px none #ffffff;
            border-radius: 0px;
            box-shadow: 0px 0px 0px 0px rgba( 2, 2, 2, 0.23 );
            text-shadow: 0px 0px 0px rgba( 0, 0, 0, 0.23 );
            background-color: rgba( 0, 183, 205, 1.00 );
        }


        .override-menuitem-color{
            color:blue;
            font-weight:500;
        }